streamlit==1.25.0
pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2

Pillow
pdfminer.six
streamlit-tags
plotly
yt-dlp

nltk==3.7

spacy==3.4.4
thinc==8.1.10
setuptools==65.5.0
wheel

pdf2image==1.16.3
opencv-python-headless==4.8.1.78
pyresparser==1.0.6
tensorflow-cpu==2.10.0
